Screen {
    /* layout: vertical; */
    align: center middle;
    layers: one two three;
}

#add_module_list {
    layer: three;
    width: 8;
    offset: 0 1;
}

#file_menu_list {
    layer: three;
    width: 8;
    offset: 0 1;
}

HostInput {
    layer: three;
    content-align: center middle;

}

#ip_switcher {
    layout: vertical;
}

#host_tabs {
    background: #0026ff;
}

/*Label {
    margin:1 1;
    background: $panel;
    border: tall $primary;
    content-align: center middle;

}*/

ListView {
    height: auto;
}

.menu_bar {
    dock: top;
    background: #3d3d3d;
    width: 100%;
    height: 2;
}

.menu_button {
    /* border: none; */
    /* background: #001eff; */
    /* height: 3; */
    /* width: auto; */
}

#network_menu_list {
    layer: three;
    width: 22;
    offset: 4 2;
}

.module {
    width: 1fr;
}



.module_tabs {
    /* dock: top; */
    background: #000000;
}

.modules_container {
    /* background: $panel; */
    /* border: tall $primary; */
}

Tabs {
    /* margin-top: -1; */
    /* height: 3; */
}

.title {
    content-align: center middle;
}